/* MainPage styles */
.hero-banner {
  background-image: url("../images/iteration-1-images/home-banner.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 6rem;
  gap: 3rem;
}

.hero-banner h1 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #FAF7F2;
  font-weight: 300;
  font-size: 7.2rem;
  line-height: 1.1;
}

.hero-banner button {
  border-radius: 40px;
  padding: 1rem 5rem;
  background-color: #FDC913;
  border: none;
  color: #292929;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  
}

.hero-banner button:hover {
  background-color: #e6b80f;
  color: #FAF7F2;
}

.hero-banner img {
  width: 19vw;
  height: auto;
}
